<div class="{CLASS}">

<!-- BEGIN question -->
<p>{QUESTIONTEXT}</p>
<!-- END question -->

<!-- BEGIN part -->

<!-- BEGIN part_intro -->
<p class="accqstPartIntro">{TEXT}</p>
<!-- END part_intro -->

<!-- BEGIN part_solution -->
{SOLUTION}
<!-- END part_solution -->

<!-- BEGIN part_score -->
<p class="accqstPartScore">{TXT_SCORE} {SCORE}</p>
<!-- END part_score -->

<!-- END part -->

<!-- BEGIN grading_note -->
<p class="text-info small">{GRADING_DETAILS_NOTE}</p>
<!-- END grading_note -->

<!-- BEGIN debug -->
<pre>
    $graphicalOutput = {DEBUG_GRAPHICAL_OUTPUT}
    $result_output = {DEBUG_RESULT_OUTPUT}
    $show_question_only = {DEBUG_SHOW_QUESTION_ONLY}
    $show_feedback = {DEBUG_SHOW_FEEDBACK}
    $show_correct_solution = {DEBUG_SHOW_CORRECT_SOLUTION}
    $show_manual_scoring = {DEBUG_SHOW_MANUAL_SCORING}
    $show_question_text = {DEBUG_SHOW_QUESTION_TEXT}
    $show_grading_details = {DEBUG_SHOW_GRADING_DETAILS}
</pre>
<!-- END debug -->

</div>