<p>{QUESTION_TEXT}</p>
<!-- BEGIN debug -->
<pre>{DEBUG}</pre>
<!-- END debug -->
<!-- BEGIN question_part -->
<p>{PART_QUESTION_TEXT}</p>

<div class="aqqst_container">
    <h2>{TABLE_NAME}</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="accqstCenter">{THIRD_COLUMN_HEADER}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <div class="accqstCenter">{FIRST_COLUMN_HEADER}</div>
                <div class="accqstCenter">{SECOND_COLUMN_HEADER}</div>
            <table class="table_left">
                <tbody>
                <!-- BEGIN accounting_left -->
                <tr>
                    <td>
                        <select class="combobox ilAccqstAccount"
                                id="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_account_left"
                                name="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_account_left">
                            <option></option>
                            <!-- BEGIN accounts_left -->
                            <option value="{ACCOUNT_VALUE}">{ACCOUNT_TEXT}</option>
                            <!-- END accounts_left -->
                            <option value="{SELECTED_ACCOUNT_LEFT_VALUE}" selected>{SELECTED_LEFT_ACCOUNT}</option>
                        </select>
                    </td>
                    <td>
                        <div class="amount_input">
                            <input type="text" class="form-control ilAccqstAmount" aria-describedby="basic-addon1"
                                   id="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_amount_left"
                                   name="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_amount_left"
                                   value="{DEBIT_AMOUNT}"/>
                        </div>
                    </td>
                </tr>
                <!-- END accounting_left -->
                </tbody>
            </table>
            </div>
        <div class="col-md-6">
            <div class="accqstCenter">{FOURTH_COLUMN_HEADER}</div>
            <div class="accqstCenter">{FIFTH_COLUMN_HEADER}</div>
            <table class="table_right">
                    <tbody>
                    <!-- BEGIN accounting_right -->
                    <tr>
                        <td>
                            <select class="combobox ilAccqstAccount"
                                    id="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_account_right"
                                    name="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_account_right">
                                <option></option>
                                <!-- BEGIN accounts_right -->
                                <option value="{ACCOUNT_VALUE}">{ACCOUNT_TEXT}</option>
                                <!-- END accounts_right -->
                                <option value="{SELECTED_ACCOUNT_RIGHT_VALUE}" selected>{SELECTED_RIGHT_ACCOUNT}
                                </option>
                            </select>
                        </td>
                        <td>
                            <div class="amount_input">
                                <input type="text" class="form-control ilAccqstAmount" aria-describedby="basic-addon1"
                                       id="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_amount_right"
                                       name="q_{QUESTION_ID}_part_{QUESTION_PART}_row_{ROW}_amount_right"
                                       value="{CREDIT_AMOUNT}"/>
                            </div>
                        </td>
                    </tr>
                    <!-- END accounting_right -->
                    </tbody>
                </table>
            </div>
    </div>
</div>
<!-- END question_part -->
<!-- BEGIN part_debug -->
<pre>{PART_DEBUG}</pre>
<!-- END part_debug -->
