<!-- BEGIN head_table -->
<table class="accqstBookingTable" datatable="1" cellspacing="0">
<colgroup>
	<col width="33%" align="left" />
	<col width="33%" align="center" />
	<col width="33%" align="right" />
</colgroup>
<tr class="accqstBookingTableHead">
	<th class="accqstLeft">{TXT_ACCOUNT_LEFT}</th>
	<th class="accqstCenter">{TXT_CENTER}</th>
	<th class="accqstRight">{TXT_ACCOUNT_RIGHT}</th>
</tr>
</table>
<!-- END head_table -->	

<!-- BEGIN booking_table -->
<table class="accqstBookingTable" datatable="1" cellspacing="0">
<colgroup>
	<col width="30%" align="left" />
	<col width="15%" aligh="right" />
	<col width="10%" aligh="center" />
	<col width="30%" align="left" />
	<col width="15%" aligh="right" />
</colgroup>

<!-- BEGIN table_title -->
<tr>
	<td colspan="5">
		<table width="100%" datatable="0" cellspacing="0">
		<col width="33%" align="left" />
		<col width="33%" aligh="center" />
		<col width="33%" aligh="right" />
		<tr class="accqstBookingTableTitle">
			<td class="accqstLeft">{TXT_TITLE_LEFT}</td>
			<td class="accqstCenter">{TXT_TITLE_CENTER}</td>
			<td class="accqstRight">{TXT_TITLE_RIGHT}</td>
		</tr>		
		</table>
	</td>
</tr>
<!-- END table_title -->	


<!-- BEGIN head_row -->
<tr class="accqstBookingTableRowHead">
	<th class="accqstAccount">{TXT_ACCOUNT}</th>
	<th class="accqstValue">{TXT_VALUE}</th>
	<th class="accqstCenter"></th>
	<th class="accqstAccount">{TXT_ACCOUNT}</th>
	<th class="accqstValue">{TXT_VALUE}</th>
</tr>
<!-- END head_row -->

<!-- BEGIN booking_row -->
<tr class="accqstBookingTableRow">
	<td class="accqstAccount"><div class="accqstInput">&nbsp;</div></td>
	<td class="accqstValue"><div class="accqstInput">&nbsp;</div></td>
	<td class="accqstCenter"></td>
	<td class="accqstAccount"><div class="accqstInput">&nbsp;</div></td>
	<td class="accqstValue"><div class="accqstInput">&nbsp;</div></td>
</tr>
<!-- END booking_row -->


<!-- BEGIN sum_row -->
<tr class="accqstBookingTableFoot">
	<td class="accqstAccount">{TXT_SUM}</td>
	<td class="accqstValue"><div class="accqstInput">&nbsp;</div></td>
	<td class="accqstCenter"></td>	
	<td class="accqstAccount">{TXT_SUM}</td>
	<td class="accqstValue"><div class="accqstInput">&nbsp;</div></td>
</tr>	
<!-- END sum_row -->
</table>
<!-- END booking_table -->
